/*
 * List container for sortable destination cards
 */
.list {
    /*white-space: nowrap;*/
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

/*
 * Parent of list for sortable destination cards
 */
.parent {
    overflow: auto;
    min-height: 240px;
    max-height:770px;
}

/*
 * card header contains picture
 */
.card-header-dest-for-trip {
    height:200px;
    width:350px;
    background-color: rgba(0,0,0,0) !important;
}

/*
 * sortable destination cards
 */
.card-dest-for-trip {
    height: 200px;
    margin:20px;
    cursor:pointer;
    border-color: #a0a0a0;
    background-color: #FFFFFF !important
}

.card-dest-for-trip:hover {
    border-color: #000000;
}

.scrollBlock {
    max-height: 620px;
}

#destinationCardList {
    overflow-y: scroll;
    height: -webkit-fill-available;
    overflow-x: hidden;
}

/*
 * height determines the gap when a card is dragged into a new spot
 */
.ui-sortable-placeholder {
    height: 200px;
}

#removeTrip {
    cursor:pointer;
    width: 20px;
    height: 20px;
    background-size:contain;
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
    margin-right: 10px;
    border: 0;
    background: transparent url(../images/closeCross.png) no-repeat center top;
}

#removeTrip:hover {
    opacity: 0.5;
}

#createDestinationButton {
    margin-top: 10px;
}

.mainTripContainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

.card-title-dest-for-trip {
    margin-left: 20px;
    margin-top: 5px;
}

.date-columns {
    max-width: 50%;
}