/*
 * List container for sortable destination cards
 */
.list {
    /*white-space: nowrap;*/
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

/*
 * Parent of list for sortable destination cards
 */
.parent {
    overflow: auto;
    min-height: 240px;
    max-height:840px;
    width:1110px;
}

/*
 * card header contains picture
 */
.card-header {
    height:200px;
    width:350px;
    background-color: rgba(0,0,0,0) !important;
}

/*
 * sortable destination cards
 */
.card {
    height: 200px;
    width: 1065px;
    margin:20px;
    cursor:pointer;
    border-color: #a0a0a0;
    background-color: #FFFFFF !important
}

.card:hover {
    border-color: #000000;
}

/*
 * card block contains the details of the card
 */
.card-block {
    padding-top: 8px;
    height:200px;
    width: 750px;
}


/*
 * height determines the gap when a card is dragged into a new spot
 */
.ui-sortable-placeholder {
    height: 200px;
}

/*
 * the arrival/dest times from the
 * destination info in destination cards
 */
#left {
    float:left;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
#right { float:right }

/*
 * set padding for arrival and destination times
 * within destination card
 */
#arrival {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float:left;
    vertical-align: top;
}
#depart {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float:right;
    vertical-align: top;
}

#removeTrip {
    cursor:pointer;
    width: 20px;
    height: 20px;
    background-size:contain;
    position:absolute;
    top:0;
    right:0;
    margin-top: 10px;
    margin-right: 10px;
    border: 0;
    background: transparent url(../images/closeCross.png) no-repeat center top;
}

#removeTrip:hover {
    opacity: 0.5;
}

#arrivalDate, #arrivalTime, #departureDate, #departureTime {
    width: 175px;
}

#createDestinationButton {
    margin-top: 10px;
}

#tagInput {
    margin-left: 10px;
    width: 300px;
}