a.marker-link {
    text-decoration: none;
    color: #000000;
}

a.marker-link:hover {
    opacity:0.5;
}

#map{
    height:60%;
    width:100%;
}

a.black-nav {
    color: black !important;
}

.destination {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.createButton {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 2;
    margin-right: 25px;
    cursor: pointer;
    background-color: #ffffff;
}

#mainSection {
    padding: 16px;
}

#createDestinationPopOut {
    padding-left: 0px;
}

.hideCreateDestinationPopOut {
    width: 0px;
    display: none;
}

.showCreateDestinationPopOut {
    width: 100%;
    display: Inline;
}

.col-md-9 {
    flex-shrink: 1;
    transition: all 400ms ease;
}

.col-md-12 {
    flex-grow: 1;
    transition: all 400ms ease;
}

#cardsTab {
    overflow-y: scroll;
    height: 820px;
}

.filterButtonContainer {
    padding-bottom: 2.3rem;
    text-align: center;
}