#following-modal, #followers-modal{
    overflow: hidden;
    height: 100%;
    margin: 0;
}

.follower-tab {
    padding: 2rem;
}

.follower-summary-picture {
    height: 4rem;
    border: 1px solid rgba(0,0,0,.125);
    max-width: none !important;
}

.first-trending-card-text {
    font-size: 2rem
}

.follower-summary-name {
    font-size: 1.25rem;
}

.follower-summary-follower-count {
    font-size: 1rem;
    text-align: right;
    font-family: "Roboto Condensed", sans-serif;
    color: #afafaf;
}

.follower-card {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.follower-card:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Tab panel buttons */
.follower-nav{display:block;padding:0 1.5rem 0;color: #000000;}
.follower-nav:focus,.profile-nav:hover{text-decoration:none}
.follower-nav.active{border-bottom: 1px solid #495057;}
.follower-nav:hover{color:#495057; text-decoration: none}
.follower-nav{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.follower-nav-text{font-weight: 600; font-size: 22px}


.search-input {
    width: 260px;
}

.follower-cards-list {
    overflow: auto;
    max-height: 25rem;
    min-height: 5rem;
}

#no-followers, #no-following {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#followers-dialog, #following-dialog {
    align-items: flex-start;
    margin-top: 10rem;
}