#upload-gallery-image-file {
    position:absolute;
    width:100%;
    height: calc(100% - 260px);
    top: 50px;
    left: 0px;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

.uploader {
    height: 300px;
    line-height: 300px;
    border-radius: 25px;
    border: 2px dashed #545454;
    margin: 20px;
}

.image-body {
    display: none;
    margin: 20px 30px 20px 30px;
}

.image-body img {
    max-height: 500px;
}

#caption,
#update-caption,
#update-tags,
#tags-picker-wrapper {
    margin: 0px 30px 20px 30px;
    max-height:40px;
}

