@font-face {
    font-family: 'Roboto';
    src: url(../font/roboto/Roboto-Regular.eot) format('embedded-opentype'),
         url(../font/roboto/Roboto-Regular.ttf) format('truetype'),
         url(../font/roboto/Roboto-Regular.woff) format('woff'),
         url(../font/roboto/Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/roboto/Roboto-Bold.eot) format('embedded-opentype'),
         url(../font/roboto/Roboto-Bold.ttf) format('truetype'),
         url(../font/roboto/Roboto-Bold.woff) format('woff'),
         url(../font/roboto/Roboto-Bold.woff2) format('woff2');
    font-weight: bold;
}

/*h1, p {*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/

/*h1 {*/
    /*font-weight: bold;*/
/*}*/

body > .container {
    font-family: 'Roboto', sans-serif;
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/**
 * The colour of the navbar
 */
.bg-main {
    box-shadow: 0 3px 2px -2px rgba(255,255,255,.2);
}

/**
 * Navbar drop down menu
 */
.nav-link, .dropdown-style {
    color: rgba(255,255,255, 0.9) !important;
}

.nav-link.active, .dropdown-style:focus,
.dropdown-style:hover, .dropdown-style.active {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 12px;
}

/**
 * create trip card positioning
 */
#sortable > div { float: left; }

/*
 * Home page styling
 */
.my-block {
    padding-left: 5%;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
}

/*
 * Full Screen Background for the home page
 */
.home-bg {
    /* The image used */
    background-image: url("../images/wakatipu.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}

/**
* Style for Primary button
 */
.btn-primary {
    font-family: 'Roboto', sans-serif;
    background-color: #5283B7;
    border-radius: 8px;
    border: 2px solid #5283B7;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: white;
    color: #5283B7;
    border: 2px solid #5283B7;
}

.btn-popup {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #ebebeb;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-popup:hover {
    background-color: #ebebeb;
    color: #000000;
    border: 2px solid #cbcbcb;
}

/*
 * Styling for the Title section of each page
 */
.title-frame {
    background-color: #818182;
    text-align: center;
    height: 30vh;
    max-height: 70rem;
    min-height: 25rem;
    align-items: center;
    position: relative;
}

.title-bg {
    background: no-repeat center;
    background-size: 100% 100%;
    height:100%;
    background-size: cover;
}

.title-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline-block;
    color: #FFFFFF;
    font-size: 7rem;
}

.title-text-wrap {
    max-width: 130rem;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 0;
    width: auto;
    z-index: 10;
}

.selectpicker {
    border: 1px solid #ced4da !important;
}
