.news-feed-wrapper {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
    border-radius: 0;
}

.wrapper-header {
    height: 5rem;
    padding: 1rem 1rem;
}

.wrapper-picture {
    width: 4rem;
    border: 1px solid rgba(0,0,0,.125);
    max-width: none !important;
}

.wrapper-title {
    font-size: 1.25rem;
    padding-left: 0;
}

.wrapper-title a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.wrapper-title a:hover{
    color: #107DF1
}

.wrapper-line {
    margin: 1rem 0;
    height: 1px;
    background: #afafaf;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #afafaf));
    background:-moz-linear-gradient(left, #FFFFFF 0%, #afafaf 50%,#FFFFFF 100%);
    background:linear-gradient(left, #FFFFFF 0%, #afafaf 50%,#FFFFFF 100%);
}

.wrapper-date {
    text-align: right;
    font-family: "Roboto Condensed", sans-serif;
    color: #afafaf;
}

.wrapper-body-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.wrapper-body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper-body > * {
    box-shadow: none !important;
}

.wrapper-tags li {
    font-family: "Liberation Mono", sans-serif;
    background-color: #107DF1;
    color: #fff;
    border-radius: 3px;
    margin: 8px 3px 0px 3px;
    font-size: 14px;
    max-height: 25px;
    line-height: 16px;
    padding:4px;
    display: inline-block;
}

.wrapper-footer {
    padding: 0 1rem 1rem 1rem;
}

.wrapper-tags {
    margin-left: 2rem;
}

.wrapper-likes {
    margin-left: auto;
    padding-right: 2rem;
    font-size: 1.3rem;
}

/* Photo card css */
.photo-picture {
    height: 250px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.photo-picture:hover {
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.photo-row {
    align-items: center;
    justify-content: center;
}
/* Photo card css end */