input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#gender {
    width: 150px;
}

#ageRange {
    width: 120px;
}

#buttonDiv {
    padding-top: 10px;
}

#applyButton {
    float: right;
}

#peopleCardsList {
    margin-top: 3rem;
}

#peoplePaginationBottom {
    margin-top: 3rem;
}