#card-thumbnail {
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
    /*border-radius: .25rem;*/
    max-height: 150px;
    max-width: 150px;
    margin-top: -60px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

#card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 15px;
}

#banner {
    height: 13%;
    /*background: linear-gradient(40deg,#2096ff,#05ffa3) !important;*/
    background: linear-gradient(40deg,#45cafc,#303f9f)
}

#thumbnail-div {
    margin-left: 25px;
}

#card-cover-photo {

}
