#createTripButton {
    float: left;
    display: block;
}

#tripCardsList {
    margin-top: 3rem;
}

#tripPageSize {
    width: 7.5rem;
}

#no-trips-found {
    margin: 10rem;
}

#tripPaginationBottom {
    margin-top: 3rem;
}

#createTripButton {
    float: left;
}