#createTripButton {
    float: left;
    display: block;
}

#tripPagination {
    margin-top: -1.5rem;
}

#tripCardsList {
    margin-top: 3rem;
}

#tripPageSize {
    width: 7.5rem;
}

#no-trips-found {
    margin: 10rem;
}
