.filterButton {
    float: right;
    display: block;
}

.tripsCollapse {
    text-align: center;
}

#createTripButton {
    float: left;
    display: block;
}

#headerButtonsDiv {
    padding-left: 1.5rem;
    padding-right: 2.5rem;
}

#tripPagination {
    margin-top: -1.5rem;
}