#card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 15px;
}

#inner-card {
    border: none;
}

#card-thumbnail-div {
    background-color: white;
}

#card-thumbnail {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: .25rem;
    max-height: 150px;
    max-width: 150px;
}

.carousel-inner {
    width: 300px;
    height: 199.5px;
}

