<div id="card" class="card">
    <div id="card-header" class="card-header"></div>
    <div id="inner-card" class="card flex-row">
        <div id ="card-thumbnail-div" class="card-header border-0">
            <img id="card-thumbnail" src="https://ih0.redbubble.net/image.506735705.4566/pp,550x550.u2.jpg" alt="">
        </div>
        <div class="card-body font-weight-bold">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" id="age">
                        <i class="fas fa-calendar-alt" style="padding-right: 3px"></i>
                    </p>
                    <p class="card-text" id="gender">
                        <i class="fas fa-venus-mars" style="padding-right: 3px"></i>
                    </p>
                    <p class="card-text" id="nationalities">
                        <i class="fas fa-flag" style="padding-right: 3px"></i>
                        @*<img id="flag" src="https://restcountries.eu/data/afg.svg">*@
                    </p>
                    <p class="card-text" id="traveller-type">
                        <i class="fas fa-luggage-cart" style="padding-right: 3px"></i> Traveller Type: Thrillseeker
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>