@(userId: Long)
<div class="modal fade" id="createDestinationModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Create New Destination</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addDestinationForm">
                <div class="modal-body mx-3">
                    <div>Name
                        <em class="fas prefix grey-text"></em>
                        <input type="text" name="name" class="form-control validate" required>
                        <label id="nameError" class="error-messages"></label>
                    </div>

                    <div>Type
                        <em class="fas prefix grey-text"></em>
                        <input type="text" name="destType" class="form-control validate" required>
                        <label id="_typeError" class="error-messages"></label>
                    </div>

                    <div>District
                        <em class="fas prefix grey-text"></em>
                        <input type="text" name="district" class="form-control validate" required>
                        <label id="districtError" class="error-messages"></label>
                    </div>

                    <div>Latitude
                        <em class="fas prefix grey-text"></em>
                        <input type="number" name="latitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" required>
                        <label id="latitudeError" class="error-messages"></label>
                    </div>

                    <div>Longitude
                        <em class="fas prefix grey-text"></em>
                        <input type="number" name="longitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" required>
                        <label id="longitudeError" class="error-messages"></label>
                    </div>

                    <div>Country
                        <em class="fas prefix grey-text"></em>
                        <select id="countryDropDown" name="countryId" class="form-control validate">

                        </select>
                        <label id="countryError" class="error-messages"></label>
                    </div>
                </div>
            </form>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-outline-secondary" id="modalCancelButton">
                    Cancel<em class="fas fa-paper-plane-o ml-1"></em>
                </button>
                <button class="btn btn-primary" onclick=
                'addDestination(
                        "@controllers.backend.routes.DestinationController.addNewDestination()",
                        "@controllers.frontend.routes.ApplicationController.home()", @userId)'>
                    Create
                </button>
                <label id="otherError"></label>
            </div>
        </div>
    </div>
</div>

<script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
<script src="@controllers.backend.routes.CountryController.countryRoutes()" type="text/javascript"></script>

