<template id="destinationCardTemplate">
    <div id="card" class="card destinationCard">
        <div class="container-fluid">
            <div id="banner row">
            </div>
            <div id="inner-card" class="card row">
                <div id="card-header" class="card-header card-header-destinations border-0">
                    <div id="card-img-div">
                        <img id="card-thumbnail" src="" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body row">
            <div class="col-6">
                <p class="card-text" id="country">
                    <i class="fas fa-flag" data-toggle="tooltip" data-placement="top" title="Country" style="padding-right: 3px"></i>
                </p>
                <p class="card-text" id="district">
                    <i class="fas fa-city" data-toggle="tooltip" data-placement="top" title="District" style="padding-right: 3px"></i>
                </p>
            </div>
            <div class="col-6">
                <p class="card-text" id="destType">
                    <i class="fas fa-landmark" data-toggle="tooltip" data-placement="top" title="Type" style="padding-right: 3px"></i>
                </p>
                <p class="card-text" id="destinatonCardTravellerTypes">
                    <i class="fas fa-luggage-cart" data-toggle="tooltip" data-placement="top" title="Traveller Types" style="padding-right: 3px"></i>
                </p>
                <div id="addToTrip" class="destination-card-add-to-trip"></div>
            </div>
        </div>
    </div>
</template>