<template id="destinationCardTemplate">
    <div id="card" class="card destinationCard">
        <div class="container-fluid">
            <div id="banner row">
            </div>
            <div id="inner-card" class="card row">
                <div class="card-header border-0">
                    <h3 id="card-header"></h3>
                    <img id="card-thumbnail" src="" alt="">
                </div>
            </div>
        </div>
        <div class="card-body font-weight-bold row">
            <div class="col-6">
                <p class="card-text" id="country"></p>
                <p class="card-text" id="district"></p>
                <p class="card-text" id="destType"></p>
            </div>
            <div class="col-6">
                <p class="card-text" id="travellerTypes"></p>
                <p class="card-text" id="tags"></p>
            </div>
        </div>
    </div>
</template>