@*You will need to add a function to the local js to set the
"upload-gallery-image-button" to call upload-gallery-image-file (as in profile) or you
can add an intermediate modal as is the case in detailed destinations *@

@(canModify: Boolean, withTitle: Boolean, galleryId: String, pageId: String)

<html>
    <div class="section-title">
        <p>
            @if(withTitle) {
                <span id="galleryTitle" class="section-title">Your Photos</span>
            }
            @if(canModify) {
                <a class="button-secondary" id="upload-gallery-image-button" >
                    <span class="profile-button" style="float: right; padding-left:10px;">Add Photo</span>
                </a>
                <input id="upload-gallery-image-file" type="file" onchange='uploadNewGalleryPhoto("@controllers.backend.routes.PhotoController.upload()", "@galleryId", "@pageId")'
                accept="image/jpeg, image/png" style="display: none;" multiple/>
            }
        </p>
    </div>

    @* Photo Gallery *@
    <div id="@galleryId" class="text-center">There are no photos!</div>
    <div id="@pageId"></div>

</html>

