@(loggedUser: models.User ,canModify: Boolean)

<html>
    <div class="section-title">
        <p>
            <span class="section-title">Pictures</span>
            @if(canModify) {
                <a class="button-secondary" id="upload-gallery-image-button" >
                    <span class="profile-button" style="float: right; padding-left:10px;">Add Photo</span>
                </a>
                <input id="upload-gallery-image-file" type="file" onchange='uploadNewGalleryPhoto("@controllers.backend.routes.PhotoController.upload()")'
                accept="image/jpeg, image/png" style="display: none;" multiple/>
            }
        </p>
    </div><br>

    @* Photo Gallery *@
    <div id="main-gallery" class="text-center">There are no photos!</div>
    <div id="page-selection"></div>

</html>

