<template id="multiplePhotoCardTemplate">
    <div class="photo-card">
        <div class="carousel slide main-carousel" data-ride="carousel" data-interval="false">
            <div id="multiple-photo-gallery" class="carousel-inner photo-thumbnails" data-photo-id="0">
            </div>
            <a class="carousel-control-prev" href="#multiple-photo-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#multiple-photo-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>