<template id="multipleDestinationCardTemplate">
    <div class="destination-card">
        <div class="carousel slide main-carousel" data-ride="carousel">
            <div id="multiple-destination-wrapper" class="carousel-inner">
            </div>
            <a class="carousel-control-prev" href="#multiple-destination-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#multiple-destination-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</template>
