<template id="news-feed-card-wrapper">
    <div class="news-feed-wrapper">
        <!-- Card Header -->
        <div class="wrapper-header row">
            <div class="col-md-2">
                <img class="wrapper-picture"/>
            </div>
            <div class="col-md-8 wrapper-title"></div>
            <div class="col-md-2 wrapper-date"></div>
        </div>

        <!-- Card Body -->
        <div class="wrapper-body row"></div>

        <!-- Card Footer -->
        <div class="wrapper-footer row"></div>
    </div>
</template>