<template id="personCardTemplate">
    <div class="card" id="card">
        <div id="banner" class="d-flex flex-row">
            <div class="card-text" id="card-header">

            </div>
        </div>
        <div class="d-flex flex-row">
            <div id="thumbnail-div" class="p-2">
                <img id="card-thumbnail" src="" onerror="this.src='/assets/images/default-profile-picture.jpg';" alt="">
            </div>
            <div class="p-2">
                <div class="card-body" style="float: left">
                    <p class="card-text" id="age">
                        <em class="fas fa-user" data-toggle="tooltip" data-placement="top" title="Age" style="padding-right: 3px"></em>
                    </p>
                    <p class="card-text" id="gender">
                        <em class="fas fa-venus-mars" data-toggle="tooltip" data-placement="top" title="Gender" style="padding-right: 3px"></em>
                    </p>
                </div>
                <div class="card-body" style="float: left">
                    <p class="card-text" id="nationalities">
                        <em class="fas fa-flag" data-toggle="tooltip" data-placement="top" title="Nationalities" style="padding-right: 3px"></em>
                    </p>
                    <p class="card-text" id="traveller-type">
                        <em class="fas fa-luggage-cart" data-toggle="tooltip" data-placement="top" title="Traveller Type" style="padding-right: 3px"></em>
                    </p>
                </div>
            </div>
        </div>

    </div>
</template>