<template id="tripCardTemplate">
    <div id="card-trips" class="card" style="cursor: pointer">
        <div id="inner-card-trips" class="card flex-row">
            <div id ="card-thumbnail-div-trips">

            </div>
            <div class="card-body font-weight-bold" id="card-body">
                <div style="display: inline-block;" class="title">
                    <p class="card-text" id="start-location">
                        <i class="fas fa-plane-departure" style="padding-right: 3px"></i>
                    </p>
                </div>
                <div style="display: inline-block; padding-left: 10px; padding-right: 10px" class="title">
                    <i class="fas fa-arrow-right 3x"></i>
                </div>
                <div style="display: inline-block" class="title">
                    <p class="card-text" id="end-location">
                        <i class="fas fa-plane-arrival" style="padding-right: 3px"></i>
                    </p>
                </div>
                <span class="underline" style="margin-bottom: 1rem;"></span>
                <p class="card-text" id="destinations">
                    <i class="fas fa-route" data-toggle="tooltip" data-placement="top" title="Number of destinations" style="padding-right: 3px"></i>
                </p>
                <p class="card-text" id="date">
                    <i class="fas fa-calendar-alt" data-toggle="tooltip" data-placement="top" title="Date" style="padding-right: 3px"></i>
                </p>
            </div>
        </div>
    </div>
</template>