<template id="tripCardTemplate">
    <div id="card" class="card" style="cursor: pointer">
        <div id="inner-card" class="card flex-row">
            <div id ="card-thumbnail-div">

            </div>
            <div class="card-body font-weight-bold" id="card-body">
                <div style="display: inline-block;" class="title">
                    <p class="card-text" id="start-location">
                        <i class="fas fa-plane-departure" style="padding-right: 3px"></i>
                    </p>
                </div>
                <div style="display: inline-block; padding-left: 10px; padding-right: 10px" class="title">
                    <i class="fas fa-arrow-right 3x"></i>
                </div>
                <div style="display: inline-block" class="title">
                    <p class="card-text" id="end-location">
                        <i class="fas fa-plane-arrival" style="padding-right: 3px"></i>
                    </p>
                </div>
                <span class="underline" style="margin-bottom: 1rem;"></span>
                <p class="card-text" id="destinations">
                    <i class="fas fa-route" style="padding-right: 3px"></i>
                </p>
                <p class="card-text" id="date">
                    <i class="fas fa-calendar-alt" style="padding-right: 3px"></i>
                </p>
            </div>
        </div>
    </div>
</template>

<nav aria-label="Page navigation">
    <ul class="pagination tripPagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>