<template id="userCardTemplate">
    <div id="card" class="card" style="cursor: pointer">
        <div id="inner-card" class="card flex-row">
            <div class="card-header" style="background-color: #f1f1f1">
                <div id ="card-thumbnail-div" class="card-header border-0" style="display:table;background-color: #f1f1f1";">
                    <div id ="card-thumbnail-div-body" style="display:table-cell;vertical-align:middle;">

                </div>
                    @*<img id="card-thumbnail" src="" alt="">*@
                </div>
            </div>
            <div class="card-body font-weight-bold">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" id="username">
                            <em class="fas fa-envelope" style="padding-right: 3px"></em>
                        </p>
                        <p class="card-text" id="id">
                            <em class="fas fa-id-card" style="padding-right: 3px"></em>
                        </p>
                        <p class="card-text" id="admin">
                            <em class="fas fa-user-shield" style="padding-right: 3px"></em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<nav aria-label="Page navigation">
    <ul class="pagination" id="userPagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>

        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>