@main {
    <h1>Login</h1>
    
    <form id="login">
        Email <input type="email" name="username"><br>
        <pre style="color:red" id='usernameError'></pre><br>
        Password <input type="password" name="password"><br>
        <pre style="color:red" id='passwordError'></pre>
    </form>
    
    <div>
        <button onclick='login("@controllers.backend.routes.UserController.login()","@controllers.frontend.routes.UserController.addNewProfile()")'>Login</button> or
        <a href="@controllers.frontend.routes.UserController.signUp()">Signup</a>
    </div>
    <pre style="color:red" id='otherError'></pre>
    
}
