@main {
    <h1>Sign Up</h1>

    <form id="signUp">
        Email <input type="email" name="username"><br>
        <pre style="color:red" id='usernameError'></pre>
        Password <input type="password" name="password"><br><br>
        <pre style="color:red" id='passwordError'></pre>
    </form>

    <div>
        <button onclick='signUp("@controllers.backend.routes.UserController.addNewUser()","@controllers.frontend.routes.UserController.addNewProfile()")'>Sign Up</button>
    </div>
    <pre style="color:red" id="otherError"></pre>

}
