@main{
    <script src="@routes.Assets.at("javascripts/simpleTrip.js")" type="text/javascript"></script>

    <h2>Available destinations</h2>
    <div>
        <ul id="destinationList">

        </ul>
    </div>

        <!-- run js function on load-->
    <script type="text/javascript">
            getAllDestinations("@controllers.backend.routes.DestinationController.getAllDestinations()");
    </script>

    <br><br>

    <h1>Add trip stage</h1>
    User ID: <input id="userIDInput" type="number"/><br>
    <div>
        <ol id="tripStageList">

        </ol><br>
        <button onclick="addNewStageRow()">Add new stage</button><br><br>
        <button onclick='updateTripOnServer("@controllers.backend.routes.TripController.insertTrip()")'>Upload trip</button>
        <pre style="color:red" id='errorDisplay'></pre>
        <script type="text/javascript">
                fillExistingTripData("@controllers.backend.routes.TripController.getTrip(0)");
        </script>
    </div>
}
