@(uid: Long)
@main {
    <h1>Profile</h1>
    
    <form id="profile">
        uid (temporary) <input type="number" name="uid"><br>
        <pre style="color:red" id='uidError'></pre><br>
        First Name <input type="text" name="firstName"><br>
        <pre style="color:red" id='firstNameError'></pre><br>
        Middle Name <input type="text" name="middleName"><br>
        <pre style="color:red" id='middleNameError'></pre><br>
        Last Name <input type="text" name="lastName"><br>
        <pre style="color:red" id='lastNameError'></pre><br>
        DOB <input type="date" name="birthDate"><br>
        <pre style="color:red" id='birthDateError'></pre><br>
        <input type="radio" name="gender" id="Male" value="Male"> Male<br>
        <input type="radio" name="gender" id="Female" value="Female"> Female<br>
        <input type="radio" name="gender" id="Other" value="other"> Other<br>
        <pre style="color:red" id='genderError'></pre><br>
        Nationality(s) <input type="text" name="nationalities"><br>
        <pre style="color:red" id='nationalitiesError'></pre><br>
        Passport(s) <input type="text" name="passports"><br>
        <pre style="color:red" id='passportsError'></pre><br>
        Traveller Type(s) <input type="text" name="travellerTypes"><br>
        <pre style="color:red" id='travellerTypesError'></pre><br>
    </form>
    
    <div>
        <button onclick='updateProfile("@controllers.backend.routes.UserController.updateProfile(uid)")'>Update</button> 
    </div>
    <pre style="color:red" id='otherError'></pre>

    <!-- run js funtion on load-->
    <script type="text/javascript">
        getProfile("@controllers.backend.routes.UserController.getProfile(uid)");
    </script>
}