@(user: models.User)

    @scripts = {
        <script src="@routes.Assets.at("javascripts/createProfile.js")" type="text/javascript"></script>
        <script src="@controllers.backend.routes.CountryController.countryRoutes()" type="text/javascript"></script>
    }

    @layouts.imageHeader("Profile", user, "images/profile-bg.jpg", scripts) {
        <body>
            <div class="modal fade" id="createProfileForm" tabindex="-1" role="dialog" data-show="true" aria-labelledby="modalLabel"
            data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Create New Profile</h4>
                        </div>
                        <div class="mx-auto pr-3 pl-3 pt-3" style="width: 100%;">
                            <form id="signUp">
                                <div class="form-row mb-4">
                                    <div class="col">
                                            <!-- First name -->
                                        <pre class="control-label">First Name</pre>
                                        <input type="text" name="firstName" class="form-control" placeholder="First name" required>
                                        <label id="firstNameError" class="error-messages"></label>
                                    </div>
                                    <div class="col">
                                            <!-- Middle name -->
                                        <pre class="control-label">Middle Name</pre>
                                        <input type="text" name="middleName" class="form-control" placeholder="Middle name" required>
                                        <label id="middleNameError" class="error-messages"></label>
                                    </div>
                                    <div class="col">
                                            <!-- Last name -->
                                        <pre class="control-label">Last Name</pre>
                                        <input type="text" name="lastName" class="form-control" placeholder="Last name" required>
                                        <label id="lastNameError" class="error-messages"></label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="control-group">
                                            <pre class="control-label">Gender</pre>
                                            <div>
                                                <select class="selectpicker" name="gender"
                                                id="gender" required title="Select">
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <label id="genderError" class="error-messages"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="control-group">
                                            <pre class="control-label">Date of Birth</pre>
                                            <input type="date" name="dateOfBirth" size="8" class="form-control validate">
                                            <label id="dateOfBirthError" class="error-messages"></label>
                                        </div>
                                    </div>
                                </div>

                                <pre id="nationality" class="control-label">Nationalities</pre>
                                <div>
                                    <select name="nationalities" class="selectpicker" id="nationalities"
                                    data-live-search="true" data-size="5" multiple required>
                                        <option value="" disabled hidden>Select Nationalities</option>
                                    </select>
                                    <br/>
                                    <label id="nationalitiesError" class="error-messages"></label>
                                </div>

                                <pre class="control-label">Traveller Types</pre>
                                <small>
                                    These will be used to give you recommendations and help match you with like minded travelers.
                                    They can be edited any time from the profile page.</small>
                                <div>
                                    <br/>
                                    <select name="travellerTypes" id="travellerTypes"
                                    data-live-search="true" multiple required>
                                        <option value="" disabled hidden>Select Traveller Type</option>
                                    </select>
                                    <br/>
                                    <label id="travellerTypesError" class="error-messages"></label>
                                </div>

                                <pre id="country" class="control-label">Passports <span class="badge badge-secondary">Optional</span></pre>
                                <div>
                                    <select name="passports" id="passports" class="selectpicker"
                                    data-live-search="true" data-size="5" multiple>
                                        <option value="" disabled hidden>Select Passports</option>
                                    </select>
                                </div>



                                <label id="otherError"></label>
                            </form>
                            <div class="modal-footer d-flex justify-content-center">
                                <button class="btn btn-primary" onclick=
                                'signUp(
                                        "@user.id",
                                        "@controllers.backend.routes.ProfileController.addNewProfile()",
                                        "@controllers.frontend.routes.ApplicationController.home()")'>
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    }

<script type="text/javascript">
    getAndFillDD(countryApiUrl, ["nationalities", "passports"], "name", false, "numericCode", true);
    getAndFillDD("@controllers.backend.routes.ProfileController.getAllTravellerTypes()", ["travellerTypes"], "description");
</script>
