@import play.mvc.Http.Request
@import helper._
@import models.User

@(user: User, destList: Seq[models.Destination], trip: models.Trip)

@scripts = {
    <script src="@routes.Assets.at("javascripts/trips.js")" type="text/javascript"></script>
}

@layouts.imageHeader(if(trip.id == null) { "Create Trip" } else { "Edit Trip" }, user, "images/home-bg.jpg", scripts){

    <main role="main" id="createTripContainer">

        <div style="padding-bottom: 60px;">
                <!-- Buttons to add/create destination and trip -->
            <div style="float: left;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm">Create Destination</button>
                <button type="submit" class="btn btn-primary"
                data-toggle="modal" data-target="#modalAddForm">Add Destination</button>
            </div>

            <!-- Displays buttons and privacy status depending on whether create or update trip has been loaded -->
            <div style="float: right;">
                @if(trip.tripDataList.length == 0 || trip.privacy == 0) {
                    <button class="btn btn-primary" id="tripPrivacyStatus" onclick='toggleTripPrivacy()'>Make Public</button>
                } else {
                    <button class="btn btn-primary" id="tripPrivacyStatus" onclick='toggleTripPrivacy()'>Make Private</button>
                }

                @if(trip.tripDataList.length == 0) {
                    <button class="btn btn-primary" onclick='createTrip("@controllers.backend.routes.TripController.insertTrip()",
                            "@controllers.frontend.routes.TripController.tripIndex()")'>Create Trip</button>
                } else{
                    <button class="btn btn-primary" onclick='updateTrip("@controllers.backend.routes.TripController.updateTrip()",
                            "@controllers.frontend.routes.TripController.tripIndex()", @trip.id)'>Update Trip</button>
                }
            </div>
        </div>

        <!-- Destination cards -->
        <!doctype html>
        <html lang="en">
            <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>jQuery UI Sortable - Default functionality</title>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                <link rel="stylesheet" href="/resources/demos/style.css">
                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                        $( function() {
                            $( "#list" ).disableSelection().sortable({
                                scroll: true,
                                axis: 'y',
                                revert: true,
                                helper: function(event, ui){
                                    let $clone =  $(ui).clone();
                                    $clone .css('position','absolute');
                                    return $clone.get(0);
                                },
                            });
                        } );
                </script>
            </head>
            <body>
                <div id="tripError"></div>
                    <!-- Destination card deck -->
                <div id="parent"  style="border:1px solid #cecece; background-color: #ececed;" class="parent">
                    <div id="list" class="list">
                        @for(i <- trip.tripDataList.indices) {
                            <div class="card flex-row" id=@i >
                                <label id=@trip.tripDataList(i).destination.id></label>
                                <div class="card-header border-0" style="height: 100%">
                                    <img src="https://www.ctvnews.ca/polopoly_fs/1.1439646.1378303991!/httpImage/image.jpg_gen/derivatives/landscape_620/image.jpg" style="height: 100%";>
                                </div>
                                <div class="card-block px-2">
                                    <div id="topCardBlock">
                                        <h4 class="card-title"> @trip.tripDataList(i).destination.name</h4>
                                        <button id="removeTrip" type="button" onclick="removeDestinationFromTrip(@i)"></button>
                                    </div>
                                    <div id="left">
                                        <p class="card-text" id="card-text">
                                            <b>Type: </b>
                                            @trip.tripDataList(i).destination._type
                                            <br/>
                                            <b>District: </b>
                                            @trip.tripDataList(i).destination.district
                                            <br/>
                                            <b>Latitude: </b>
                                            @trip.tripDataList(i).destination.latitude
                                            <br/>
                                            <b>Longitude: </b>
                                            @trip.tripDataList(i).destination.longitude
                                            <br/>
                                            <b>Country: </b>
                                            <label id="countryField">loading...</label>
                                        </p>
                                    </div>
                                    <div id="right">
                                        <form id="arrivalDepartureForm">
                                            <div class="modal-body mx-3">
                                                <div id="arrival">Arrival
                                                    <i class="fas prefix grey-text"></i>
                                                    <input id="arrivalDate" type="date" name="arrivalDate" class="form-control validate" @if(trip.tripDataList(i).arrivalTime != null) { value="@trip.tripDataList(i).getArrivalTime.slice(0, 10)" }>
                                                    <input id="arrivalTime" type="time" name="arrivalTime" class="form-control validate" @if(trip.tripDataList(i).arrivalTime != null) { value="@trip.tripDataList(i).getArrivalTime.slice(11, 16)" }>
                                                    <label id="arrivalError"></label>
                                                </div>
                                                <div id="depart">Departure
                                                    <i class="fas prefix grey-text"></i>
                                                    <input id="departureDate" type="date" name="arrivalDate" class="form-control validate" @if(trip.tripDataList(i).departureTime != null) { value="@trip.tripDataList(i).getDepartureTime.slice(0, 10)" }>
                                                    <input id="departureTime" type="time" name="arrivalTime" class="form-control validate" @if(trip.tripDataList(i).departureTime != null) { value="@trip.tripDataList(i).getDepartureTime.slice(11, 16)" }>
                                                    <label id="departureError"></label>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="text-center">
                                            <label id="destinationError"></label><br/>
                                        </div>
                                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Destinations inserted here -->
                    </div>
                </div>
            </body>
        </html>


        <!-- Create destination form -->
        <div class="container">
            <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Create New Destination</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="addDestinationForm">
                            <div class="modal-body mx-3">
                                <div>Name
                                    <i class="fas prefix grey-text"></i>
                                    <input type="text" name="name" class="form-control validate" required>
                                    <label id="nameError"></label>
                                </div>

                                <div>Type
                                    <i class="fas prefix grey-text"></i>
                                    <input type="text" name="_type" class="form-control validate" required>
                                    <label id=_typeError"></label>
                                </div>

                                <div>District
                                    <i class="fas prefix grey-text"></i>
                                    <input type="text" name="district" class="form-control validate" required>
                                    <label id="districtError"></label>
                                </div>

                                <div>Latitude
                                    <i class="fas prefix grey-text"></i>
                                    <input type="text" name="latitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" required>
                                    <label id="latitudeError"></label>
                                </div>

                                <div>Longitude
                                    <i class="fas prefix grey-text"></i>
                                    <input type="text" name="longitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" required>
                                    <label id="longitudeError"></label>
                                </div>

                                <div>Country
                                    <i class="fas prefix grey-text"></i>
                                    <select id="countryDropDown" name="countryId" class="form-control validate">
                                        // Countries inserted from script here
                                    </select>
                                    <label id="countryError"></label>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-popup waves-effect waves-light" data-toggle="modal" data-target="#modalContactForm">
                                Cancel<i class="fas fa-paper-plane-o ml-1"></i>
                            </button>
                            <button class="btn btn-popup" onclick=
                            'newDestination("@controllers.backend.routes.DestinationController.addNewDestination()")'>
                                Create
                            </button>
                            <label id="otherError"></label>
                        </div>
                    </div>
                </div>
            </div>


        <!-- Edit arrival depart times form -->
            <div class="modal fade" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Edit date and times</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="container">
                                <form>
                                    <div class="form-group">
                                        <label for="Departure time">Departure time</label>
                                        <input type="date" class="form-control" id="Departure date" >
                                        <input type="time" class="form-control" id="Departure time" >
                                    </div>

                                    <div class="form-group">
                                        <label for="Arrival time">Arrival time</label>
                                        <input type="date" class="form-control" id="Arrival date" >
                                        <input type="time" class="form-control" id="Arrival time" >
                                    </div>
                                </form>
                            </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-popup">Done<i class="fas fa-paper-plane-o ml-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Form to add destination to trip -->
            <div class="modal fade" id="modalAddForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">Add destination to trip</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="container">
                            <form>
                                <div class="destTable"><br>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">District</th>
                                                <th scope="col">Latitude</th>
                                                <th scope="col">Longitude</th>
                                                <th scope="col">Country</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @*TODO: Fix this section now that destinations controller has been removed*@
                                        @for(d <- destList) {
                                            <tr id="@d.id">
                                                <td>@d.name</td>
                                                <td>@d._type</td>
                                                <td>@d.district</td>
                                                <td>@d.latitude</td>
                                                <td>@d.longitude</td>
                                                <td id="country">@d.country.id</td>
                                                <td><button class="btn btn-popup" type="button" onclick='addDestinationToTrip(["@d.id", "@d.name", "@d._type", "@d.district", "@d.latitude", "@d.longitude", "@d.country.id"])'>Add</button></td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-popup waves-effect waves-light" type="button" data-toggle="modal" data-target="#modalAddForm">Close</button>
                        </div>
                    </div>
                </div>
            </div>

     </div>
    </main>
}

<script type="text/javascript">
        fillCountryInfo("@controllers.backend.routes.DestinationController.getAllCountries()");
</script>