@(user: models.User)

@scripts = {
    <script src="@routes.Assets.at("javascripts/destinations.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.googleMapsHelper()"></script>
    <script src="@controllers.backend.routes.CountryController.countryRoutes()" type="text/javascript"></script>
}

@layouts.main("Destinations", user, scripts){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/destinations.css")">

    @* The custom title section with background image *@
    <div class="title-frame" id="title-frame">
        <div class="title-bg" style="background-image: url(@routes.Assets.at("images/destination-bg.jpg"))">
            <div class="title-text-wrap">
                <p id="summary_name" class="title-text">Destinations</p>
            </div>
        </div>
    </div>

    <body>
        <div class="destination row" id="startchange">

            <div id="mainSection" class="col-md-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="black-nav nav-link active" id="map-tab" data-toggle="tab" href="#mapTab" role="tab" aria-controls="mapTab" aria-selected="true">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="black-nav nav-link" id="table-tab" data-toggle="tab" href="#tableTab" role="tab" aria-controls="tableTab" aria-selected="false">Table</a>
                    </li>
                </ul>

                <div class="tab-content pt-2" id="myTabContent">
                    <button class="createButton btn" id="createDestinationButton" onclick="toggleDestinationForm()" >
                        <i class="fas fa-1x fa-arrow-left" id="arrow" style="color: #666666;"></i>
                    </button>

                    <div class="tab-pane fade show active" id="mapTab" role="tabpanel" aria-labelledby="map-tab">
                        @* The destination map *@
                        <div id="map" style="height: 800px;"></div>
                    </div>
                    <div class="tab-pane fade" id="tableTab" role="tabpanel" aria-labelledby="table-tab">
                        <div class="container">
                            @* The destination table *@
                            <div>
                                <table id="dtDestination" class="table table-hover table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Name</th>
                                            <th class="th-sm">Type</th>
                                            <th class="th-sm">District</th>
                                            <th class="th-sm">Latitude</th>
                                            <th class="th-sm">Longitude</th>
                                            <th class="th-sm">Country</th>
                                        </tr>
                                    </thead>
                                    <tbody id="destinationList">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="createDestinationPopOut" class="col-md-0 hideCreateDestinationPopOut">
                <H2>Create New Destination</H2>
                <form id="addDestinationForm">
                    <div>
                        <div>Name
                            <em class="fas prefix grey-text"></em>
                            <input type="text" name="name" class="form-control validate" required>
                            <label id="nameError" class="error-messages"></label>
                        </div>

                        <div>Type
                            <em class="fas prefix grey-text"></em>
                            <input type="text" name="destType" class="form-control validate" required>
                            <label id="_typeError" class="error-messages"></label>
                        </div>

                        <div>District
                            <em class="fas prefix grey-text"></em>
                            <input type="text" name="district" class="form-control validate" required>
                            <label id="districtError" class="error-messages"></label>
                        </div>

                        <div>Latitude
                            <em class="fas prefix grey-text"></em>
                            <input type="number" name="latitude" id="latitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" value="0" required>
                            <label id="latitudeError" class="error-messages"></label>
                        </div>

                        <div>Longitude
                            <em class="fas prefix grey-text"></em>
                            <input type="number" name="longitude" id="longitude" class="form-control validate" pattern="[0-9]+([\.,][0-9]+)?" step="any" value="0" required>
                            <label id="longitudeError" class="error-messages"></label>
                        </div>

                        <div>Country
                            <em class="fas prefix grey-text"></em>
                            <select id="countryDropDown" name="countryId"
                            class="form-control validate selectpicker"
                            data-live-search="true"
                            data-size="5"></select>
                            <label id="countryError" class="error-messages"></label>
                        </div>
                    </div>
                </form>

                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-secondary" id="CreateDestinationCancelButton">Clear<em class="fas fa-paper-plane-o ml-1"></em>
                    </button>
                    <button class="btn btn-primary" id="createNewDestinationButton">
                        Create
                    </button>
                    <label id="otherError"></label>
                </div>
            </div>

        </div>
    </body>
}

<script type="text/javascript">
    onPageLoad(@user.id);
    getAndFillDD(countryApiUrl, ["countryDropDown"], "name", false, "numericCode", true);
</script>