@(user: models.User)

@scripts = {
    <script src="@routes.Assets.at("javascripts/destinations.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCyC_ON0GgSmJIfPlL7oke5PZgbR8TLbg"></script>
}

@layouts.imageHeader("Destinations", user, "images/destination-bg.jpg", scripts){
    <body>
        <div class="container">
            @* The create destination modal popup *@
            @modules.createDestinationForm(user.id)
            <div class="text-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#createDestinationModal" target="_blank" rel="nofollow noopener">Create New Destination</button>
            </div><br>

            @* The destination table *@
            <div>
                <table id="dtDestination" class="table table-hover table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">Name</th>
                            <th class="th-sm">Type</th>
                            <th class="th-sm">District</th>
                            <th class="th-sm">Latitude</th>
                            <th class="th-sm">Longitude</th>
                            <th class="th-sm">Country</th>
                        </tr>
                    </thead>
                    <tbody id="destinationList">
                    </tbody>
                </table>
            </div>
        </div>
        <div id="map"></div>
    </body>
}

<script type="text/javascript">
    onPageLoad(@user.id);
    fillCountryInfo("@controllers.backend.routes.DestinationController.getAllCountries()");
</script>