@import play.mvc.Http.Request
@(destinationId: Long, loggedUser: models.User, canModify: Boolean)

@scripts = {
    <script src="@routes.Assets.at("javascripts/detailedDestination.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/common/baguetteBox.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/common/jquery.bootpag.min.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.PhotoController.photoRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.ProfileController.profileRoutes()" type="text/javascript"></script>
}

@layouts.main("Destination", loggedUser, scripts){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/detailedDestination.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/baguetteBox.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/gallery-grid.css")">

    @* The custom title section with background image *@
    <div class="title-frame" id="title-frame">
        <div class="title-bg" style="background-image: url(@routes.Assets.at("images/detailedDestination-bg.jpg"))">
            <div class="title-text-wrap">
                <p id="summary_name" class="title-text">Destination Name</p>
            </div>
        </div>
    </div>

    <body style="margin:auto">
        <div class="row destination" id="startchange">
            <div class="col-12 col-md-3">
                @* Destination Details *@
                <div id="destination-summary">
                    <div class="destination-details">
                        <p class="heading" id="destination_name">Destination Name</p>
                        <p class="heading">Type <span id="summary_type" class="destination-info">type</span></p>
                        <p class="heading">District <span id="summary_district" class="destination-info">district</span></p>
                        <p class="heading">Country <span id="summary_country" class="destination-info">country</span></p>
                        <p class="heading">Latitude <span id="summary_latitude" class="destination-info">latitude</span></p>
                        <p class="heading">Longitude <span id="summary_longitude" class="destination-info">longitude</span></p>
                        <p class="heading">Owner <span id="summary_user" class="destination-info">user.username</span></p>
                        @if(canModify) {
                            <a data-toggle="modal" data-target="#editDestinationModal">
                                @* TODO link this to the edit destination modal ?!  *@
                                <span class="destination-button" style="float: left; padding-top: 10px; padding-bottom: 10px;">Edit Destination</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                @* Body Content *@
                <div class="destination-main">
                    <div>
                    @modules.gallery(loggedUser, canModify)
                    </div>
                </div>
            </div>
        </div>
    </body>
}

@*Calling javascript functions for auto-populating the nationality and traveller type selection lists in the filter*@
<script type="text/javascript">
        populateDestinationDetails(@destinationId);
</script>