@import play.mvc.Http.Request
@(user: models.User)

@layouts.main("Home", user) {
    <div class="home-bg">
        <div class="home-main">
            <div class="my-block">
                <img src="@routes.Assets.at("images/travelEA.png")" alt="TravelEA logo" style="width: 500px">
                <blockquote class="blockquote">
                    <p class="mb-0">"TravelEA is hands down the best travel app out there!"</p>
                    <footer class="blockquote-footer" style="text-indent :1em;">Kate, <cite>experienced traveller</cite></footer>
                    <a class="btn btn-primary mt-2" href="@controllers.frontend.routes.TripController.createTrip(user.id)" role="button">Create New Trip</a>
                </blockquote>
            </div>
        </div>
    </div>

    <div id="startchange"></div>
}