@(user: models.User)

@scripts = {
    <script src="@routes.Assets.at("javascripts/people.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.ProfileController.profileRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.CountryController.countryRoutes()" type="text/javascript"></script>
}

@layouts.imageHeader("People", user, "images/people-bg1.jpg", scripts){

    @* Importing People CSS *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/people.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/peopleCards.css")">

    @* Filter *@
    <div>
        <button id="peopleFilterButton" class="btn btn-secondary filterButton" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" onclick="toggleFilterButton()">Filter</button>
    </div>
    <div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" id="card-body">
                <div class="filterItemDiv">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control validate" data-style="form-control" multiple placeholder="Name"/>
                </div>
                <div class="filterItemDiv">
                    <label for="gender">Gender</label>
                    <select id="gender" class="form-control selectpicker" data-style="form-control" multiple>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="filterItemDiv">
                    <label for="ageRange">Age Range</label>
                    <div id="ageRange" class="input-group">
                        <input id="minAge" type="number" class="form-control validate" placeholder="Min"/>
                        <input id="maxAge" type="number" class="form-control validate" placeholder="Max"/>
                        <label data-error="wrong" data-success="right"></label>
                    </div>
                </div>
                <div class="filterItemDiv resultsPerPageDiv">
                    <label for="pageSize">Results per page</label>
                    <input id="pageSize" type="number" class="form-control validate" value="10" min="1" required/>
                </div>
                <div class="filterItemDiv">
                    <label for="nationalities">Nationality</label>
                    <select id="nationalities" class="form-control selectpicker" data-style="form-control"
                    data-live-search="true"
                    data-size="5" multiple>
                    </select>
                </div>
                <div class="filterItemDiv">
                    <label for="travellerTypes">Type of Traveller</label>
                    <select id="travellerTypes" class="form-control selectpicker" data-style="form-control" multiple>
                    </select>
                </div>
                <div class="filterItemDiv">
                    <label for="sortBy">Sort by</label>
                    <select id="sortBy" class="form-control selectpicker" data-style="form-control">
                        <option value="creation_date">Creation date</option>
                        <option value="date_of_birth">Date of birth</option>
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                    </select>
                </div>
                <div class="filterItemDiv">
                    <label for="ascending">Sort by</label>
                    <select id="ascending" class="form-control selectpicker" data-style="form-control">
                        <option value="true">Ascending</option>
                        <option value="false">Descending</option>
                    </select>
                </div>
                <div class="text-center" id="buttonDiv">
                    <div class="closeButton">
                        <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseExample" onclick="toggleFilterButton()">Close</button>
                    </div>
                    <div class="filterControlButtons">
                        <button class="btn btn-secondary" onclick='clearPeopleFilter()'>Clear</button>
                        <button class="btn btn-primary"  onclick='getPeopleResults()'>Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination" id="peoplePaginationTop">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>

    @modules.peopleCards()

    <div id="peopleCardsList"></div>

    <nav aria-label="Page navigation">
        <ul class="pagination" id="peoplePaginationBottom">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
}

@*Calling javascript functions for auto-populating the nationality and traveller type selection lists in the filter*@
<script type="text/javascript">
    getAndFillDD(countryApiUrl, ["nationalities", "passports"], "name", false, "numericCode", true);
    getAndFillDD("@controllers.backend.routes.ProfileController.getAllTravellerTypes()", ["travellerTypes"], "description", true);
</script>