@(user: models.User)

@scripts = {
    <script src="@routes.Assets.at("javascripts/people.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.ProfileController.profileRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.DestinationController.destinationRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.CountryController.countryRoutes()" type="text/javascript"></script>
}

@layouts.imageHeader("People", user, "images/people-bg1.jpg", scripts){

    @* Importing People CSS *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/people.css")">

    @* Filter *@
    <div>
        <button id="filterButton" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" onclick="toggleFilterButton()">Filter</button>
    </div>
    <div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" id="card-body">
                <div id="filterItemDiv">
                    <label for="gender">Gender</label>
                    <select id="gender" class="form-control" data-style="form-control selectpicker">
                        <option value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div id="filterItemDiv">
                    <label for="ageRange">Age Range</label>
                    <div id="ageRange" class="input-group">
                        <input id="minAge" type="number" class="form-control validate" placeholder="Min"/>
                        <span class="input-group-addon pr-3 pl-3"> - </span>
                        <input id="maxAge" type="number" class="form-control validate" placeholder="Max"/>
                        <label data-error="wrong" data-success="right"></label>
                    </div>
                </div>
                <div id="filterItemDiv">
                        <label for="nationalities">Nationality</label>
                        <select id="nationalities" class="form-control" data-style="form-control selectpicker">
                            <option value="">Select Nationality</option>
                        </select>
                </div>
                <div id="filterItemDiv">
                        <label for="travellerTypes">Type of Traveller</label>
                        <select id="travellerTypes" class="form-control" data-style="form-control selectpicker">
                            <option value="">Select Traveller Type</option>
                        </select>
                </div>
                <div class="text-center" id="buttonDiv">
                    <div id="closeButton">
                        <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseExample" onclick="toggleFilterButton()">Close</button>
                    </div>
                    <div id="applyButton">
                        <button class="btn btn-secondary" onclick='clearFilter()'>Clear</button>
                        <button class="btn btn-primary"  onclick='filterPeopleTable()'>Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* The people table *@
    <div>
        <table id="dtPeople" class="table table-hover table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">First Name</th>
                    <th class="th-sm">Last Name</th>
                    <th class="th-sm">Gender</th>
                    <th class="th-sm">Age</th>
                    <th class="th-sm">Nationalities</th>
                    <th class="th-sm">Traveller Types</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}

@*Calling javascript functions for auto-populating the nationality and traveller type selection lists in the filter*@
<script type="text/javascript">
        getAndFillDD(countryApiUrl, ["nationalities", "passports"], "name", false, "numericCode", true);
        getAndFillDD("@controllers.backend.routes.ProfileController.getAllTravellerTypes()", ["travellerTypes"], "description", true);
</script>