@import play.mvc.Http.Request
@(user: models.User, id: Long)

@scripts = {
    @*<script src="@routes.Assets.at("javascripts/profile.js")" type="text/javascript"></script>*@
}

@layouts.main("Profile", user, scripts){

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">

    @* The custom title section with background image *@
    <div class="title-frame" id="title-frame">
        <div class="title-bg" style="background-image: url(@routes.Assets.at("images/profile-bg.jpg"))">
            <div class="title-text-wrap">
                <p class="title-text">Dave Smith</p>
            </div>
        </div>
    </div>

    <body style="margin:auto">
        <div class="row"  id="startchange">
            <div class="col-12 col-md-3">
                @* Profile Detail *@
                <div class="profile-summary">
                    <div class="profile-picture" style="background-image: url(@routes.Assets.at("images/default-profile-picture.jpg"))"></div>
                    <div class="profile-details">
                        <p>Email Max&#64;gmail.com</p>
                        <p>Gender Male</p>
                        <p>Nationalities Australia</p>
                        <p>Traveller Types groupies, backpacker</p>
                        <p>Passports Australia</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-9">
                @* Body Content *@
                <div class="profile-main">
                    <div class = "section">
                        <div class="section-title">
                            <p>
                                <span style="float: left">Pictures</span>
                                <a href="#"><span style="float: right; padding-left:10px;">View All</span></a>
                                <a href="#"><span style="float: right">Add Photo</span></a>
                            </p>
                        </div>

                        <div class="photo-gallery">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                        </div>
                    </div>

                    <div class = "section">
                        <div class="section-title">
                            <p>
                                <span style="float: left">Trips</span>
                                <a href="#"><span style="float: right; padding-left:10px;">View All</span></a>
                                <a href="#"><span style="float: right">Create Trip</span></a>
                            </p>
                        </div>

                        <div class="photo-gallery">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                        </div>
                    </div>

                    <div class = "section">
                        <div class="section-title">
                            <p>
                                <span style="float: left">Other</span>
                                <a href="#"><span style="float: right; padding-left:10px;">For Testing</span></a>
                                <a href="#"><span style="float: right">Scroll</span></a>
                            </p>
                        </div>

                        <div class="photo-gallery">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" class="img-thumbnail">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
}