

<html>

<head>
    @* Page title. *@
    <title>TravelEA</title>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cover.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
 </head> 
 <body class="text-center bg">
    <div id="start-page" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column parent">
            <main role="main" class="child cover" id="main">
                <img alt="TravelEA" src="@routes.Assets.at("images/travelEA.png")" style="width: 500px">
                <p class="lead txt-shadow">Enjoy the journey</p>
                @* Sign Up Form *@
                <div class="collapse form-style" id="collapseSignUp">
                    <div class="container">
                        <form id="signupForm">
                            <h1>Sign Up</h1>
                            <p>Please fill in this form to create an account.</p>
                            <div id="otherError" class="error"></div>
                            <hr>
                            <label id="otherError" class="error-messages"></label>
                            <div class = field-container>
                                <p class="start-field-heading">Email</p>
                                <input type="email" placeholder="Enter Email" name="username">
                                <label id="usernameError" class="error-messages"></label>
                            </div>
                            <div class = field-container>
                                <p class="start-field-heading">Password</p>
                                <input type="password" id="password" placeholder="Enter Password" name="password">
                                <label id="passwordError" class="error-messages"></label>
                            </div>
                            <div class = field-container>
                                <p class="start-field-heading">Repeat Password</p>
                                <input type="password" id="confirm_password"
                                placeholder="Repeat Password" name="password-repeat" required>
                                <label id='message' class="error-messages"></label>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix" style="padding-top: 10px">
                        <button type="button" onclick="cancel(); document.getElementById('LogInSignUpBtns').style.display='block'"
                            class="btn btn-lg btn-secondary" data-toggle="collapse" href="#collapseSignUp" role="button"
                            aria-expanded="false" aria-controls="collapseSignUp" id="cancelBtn1">Cancel</button>
                        <button class="btn btn-lg btn-secondary"
                            id="registerBtn"
                        onclick='signup("@controllers.backend.routes.UserController.addNewUser()", "@controllers.frontend.routes.ProfileController.createProfileIndex()")'>
                            Register
                        </button>
                    </div>
                </div>

                @* Log In Form *@
                <div class="collapse form-style" id="collapseLogIn">
                    <div class="container">
                        <form id="loginForm">
                            <h1>Log In</h1>
                            <p>Enter your login details below.</p>
                            <hr>
                            <label id="otherError" class="error-messages"></label>
                            <div class = field-container>
                                <p class="start-field-heading">Email</p>
                                <input type="email" placeholder="Enter Email" name="username">
                                <label id="usernameError" class="error-messages"></label>
                            </div>
                            <div class = field-container>
                                <p class="start-field-heading">Password</p>
                                <input id="login-password-field" type="password" placeholder="Enter Password" name="password">
                                <label id="passwordError" class="error-messages"></label>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix" style="padding-top: 10px">
                        <button type="button" onclick="cancel();
                            document.getElementById('LogInSignUpBtns').style.display='block'"
                            class="btn btn-lg btn-secondary" data-toggle="collapse" href="#collapseLogIn" role="button"
                            aria-expanded="false" aria-controls="collapseLogIn" id="cancelBtn2">Cancel</button>
                        <button
                            class="btn btn-lg btn-secondary" id="login-button"
                            onclick='login("@controllers.backend.routes.UserController.login()","@controllers.frontend.routes.ApplicationController.home()")'>
                            Log In
                        </button>
                    </div>
                </div>

                <p class="lead" id="LogInSignUpBtns">
                    <a id="loginBtn" class="btn btn-lg btn-secondary"
                        onclick="document.getElementById('LogInSignUpBtns').style.display='none'" data-toggle="collapse"
                        href="#collapseLogIn" role="button" aria-expanded="false" aria-controls="collapseLogIn">Log
                        In</a>
                    <a id="signUpBtn" class="btn btn-lg btn-secondary"
                        onclick="document.getElementById('LogInSignUpBtns').style.display='none'" data-toggle="collapse"
                        href="#collapseSignUp" role="button" aria-expanded="false" aria-controls="collapseSignUp">Sign
                        Up</a>
                </p>
            </main>
            <a href="#about-page">
                <img class="down-arrow" src="@routes.Assets.at("images/down-arrow.png")">
            </a>
        </div>


        @* Imports javascript files to the template *@
        <script src="@routes.Assets.at("javascripts/common/jquery-3.3.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/cover.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/util/fetch.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/util/formHelper.js")" type="text/javascript"></script>
    </div>

     <div style="height: 100%;" id="about-page">
         <p class="about">About</p>
         <div>
             <h3>
                 Travel EA is your one-stop shop for travel inspiration.
             </h3>
         </div>
         <div class="d-flex justify-content-around images">
             <div>
                 <img class="circle-photo" src="@routes.Assets.at("images/trip.png")" alt="Trips" width="250" height="250">
                 <h2>Trips</h2>
                 <p class="description">
                     Though destinations and trips you can visualise your next adventure and get inspiration from what others have done.
                 </p>
             </div>
             <div>
                 <img class="circle-photo" src="@routes.Assets.at("images/social.png")" alt="Social" width="250" height="250">
                 <h2>Social</h2>
                 <p class="description">
                     You can follow people and destinations to add their content to your main news feed and keep up to date with changes and exciting new additions.
                 </p>
             </div>
             <div>
                 <img class="circle-photo" src="@routes.Assets.at("images/more.png")" alt="More" width="250" height="250">
                 <h2>More</h2>
                 <p class="description">
                     TravelEA will put a spark back into your travel planning, so
                     what are you waiting for,
                 </p>
                 <a href="#start-page">
                     <p class="description">
                     Get Started!
                     </p>
                 </a>

             </div>
         </div>
     </div>


    </body>

</html>