@import play.mvc.Http.Request
@import helper._

@(user: models.User, tripList: Seq[models.Trip])

@scripts = {
    <script src="@routes.Assets.at("javascripts/trips.js")" type="text/javascript"></script>
}

@layouts.imageHeader("Trips", user, "images/trips-bg.jpg", scripts){

    <head>
        @* Imports MBBootstrap Datatables CSS. *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datatables.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">
    </head>

    <body>
        <div class="container">
            <div class="text-center">
                <a class="btn btn-primary" href="/trips/create" role="button">Create New Trip</a>
            </div><br>

            @if(tripList.isEmpty) {
                <div id="content" class="text-center">There are no trips! Click the create new trip button to create one</div>

            } else {
                <div>
                    <label id="tripError"></label>
                    <table id="dtTrips" class="table-bordered table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Start Destination</th>
                                <th class="th-sm">End Destination</th>
                                <th class="th-sm">Trip Length</th>
                                <th class="th-sm">Date</th>
                            </tr>
                        </thead>
                        <tbody id="tripData" class="tripTable">
                        @for(t <- tripList) {
                            <tr id="@t.id" class="clickable-row" data-toggle="modal" data-target="#modal-@t.id">
                                <td>@t.tripDataList(0).destination.name</td>

                                @if(t.tripDataList.length >= 2) {
                                    <td>@t.tripDataList(t.tripDataList.length - 1).destination.name</td>
                                } else {
                                    <td>-</td>
                                }

                                <td>@t.tripDataList.length</td>

                                @if(t.findFirstTripDate() != null) {
                                    <td>@t.findFirstTripDate()</td>
                                } else {
                                    <td>No Date</td>
                                }

                                <div class="modal fade" id="modal-@t.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">Trip Details</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <section id="timeline">
                                            @for(dest <- t.tripDataList) {
                                                <article>

                                                    <div class="inner">
                                                        @if(dest.arrivalTime != null) {
                                                            <span class="date">
                                                                <span class="day">@dest.arrivalTime.getDayOfMonth() <sup>
                                                                    th</sup></span>
                                                                <span class="month">@dest.arrivalTime.getMonth()</span>
                                                                <span class="year">@dest.arrivalTime.getYear()</span>
                                                            </span>
                                                        }
                                                    <h2>@dest.destination.name</h2>
                                                    <p>Country: @dest.destination.country<br>
                                                        @if(dest.arrivalTime != null) {
                                                            Arrival: @if(dest.arrivalTime.getHour() >= 12) {@dest.arrivalTime.minusHours(12).getHour():@if(dest.arrivalTime.getMinute() == 0) {00} else {@dest.arrivalTime.getMinute()} PM} else{@dest.arrivalTime.getHour():@if(dest.arrivalTime.getMinute() == 0) {00} else {@dest.arrivalTime.getMinute()} AM}<br>
                                                        }
                                                        @if(dest.departureTime != null) {
                                                            Departure: @if(dest.departureTime.getHour() >= 12) {@dest.departureTime.minusHours(12).getHour():@if(dest.departureTime.getMinute() == 0) {00} else {@dest.departureTime.getMinute()} PM} else{@dest.departureTime.getHour():@if(dest.departureTime.getMinute() == 0) {00} else {@dest.departureTime.getMinute()} AM}
                                                        }
                                                            </p>
                                                    </div>

                                                </article>
                                            }
                                            </section>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-popup" data-dismiss="modal">Close</button>
                                                <button id="editTrip" type="button" class="btn btn-popup" onclick="viewTrip(@t.id)">
                                                    Edit Trip</button>
                                                <script>
                                                        function viewTrip(url) {
                                                            window.location.href = "/trips/edit/" + url;
                                                        }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </body>
}