@import play.mvc.Http.Request
@import helper._

@(user: models.User)

@scripts = {
    <script src="@routes.Assets.at("javascripts/trips.js")" type="text/javascript"></script>
    <script src="@controllers.backend.routes.TripController.tripRoutes()" type="text/javascript"></script>
    <script src="@controllers.backend.routes.UserController.userRoutes()" type="text/javascript"></script>
}

@layouts.imageHeader("Trips", user, "images/trips-bg.jpg", scripts){
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">

    <div class="container">
        <div class="text-center">
            <a class="btn btn-primary" href="@controllers.frontend.routes.TripController.createTrip(user.id)" role="button">Create New Trip</a>
        </div><br>

        @* The Trips Table *@
        <div>
            <table id="tripTable" class="table table-hover table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Start Destination</th>
                        <th class="th-sm">End Destination</th>
                        <th class="th-sm">Trip Length</th>
                        <th class="th-sm">Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div>

    @* Trip details modal *@
    @modules.tripModal()
}

<script type="text/javascript">
    onPageLoad(@user.id);
</script>