@(title: String, user: String, imagePath: String, scripts: Html = Html(""))(body: Html)

@main(title, user, scripts) {
    @* The title section with background image *@
    <div class="title-frame" id="title-frame">
        <div class="title-bg" style="background-image: url(@routes.Assets.at(imagePath))">
            <div class="title-text-wrap">
                <p class="title-text">@title</p>
            </div>
        </div>
    </div>

    <main role="main" class="container mt-5 pb-3" id="startchange">
        @* the page content. *@
        @body
    </main>
}
